arxiv==2.4.1
langchain==1.2.10
langchain-community==0.4.1
langchain-openai==1.1.10
langchain-pinecone==0.2.13
pinecone-client>=7.0.0,<8.0.0
langgraph==1.0.10
python-dotenv==1.2.2
reportlab==4.4.10
streamlit==1.54.0
wikipedia==1.4.0